/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin-top: 50px;
	padding: 0;
	background: #FFFFFF;
	font-family: sans-serif, Ubuntu;
	font-size: 13px;
	color: #837669;
}

body a{

	text-decoration: none;
}



